.row
  .large-12.columns
    %nav.top-bar{ 'data-options' => "is_hover:true" }
      %ul.title-area
        %li.name
          .logo
            = link_to '/' do
              = image_tag 'hardhat.gif'
              %h1.right
                Hire Juniors
              %p.right#headline
                == ...because every pro was once a newbie
