body {
  background-image: url('bg.png');
  background-repeat: repeat;
}

nav.top-bar {
  margin-bottom: 70px;
  h1 {
    font-family: 'Allerta Stencil', sans-serif;
  }
}

.logo {
  display: inline-block;
  margin: 10px 0 0 25px;
  width: 270px;
  img {
    height: 75px;
    margin-top:10px;
    width: 75px;
  }
  h1 {
    color: black;
    font-size: 28px !important;
    font-weight: bold;
    line-height: 75px !important;
  }

  #headline {
    color: #333;
    font-size: 14px;
    margin-right: -35px;
    margin-top: -40px;
  }
}

.top-bar-section {
  ul {
    margin-top: 25px;
    ul.dropdown {
      margin: 0 auto;
    }
    li {
      a:hover {
        background: transparent !important;
        text-decoration: underline;
      }
    }
  }
}

form {
  label {
    display: inline-block;
  }
  input[type='submit'] {
    padding: 10px !important;
  }
  input[type='text'], input[type='email'], input[type='password'] {
    border-radius: 3px;
  }
  textarea {
    min-height: 150px !important;
  }
}
